/*
CSS version 2.0
date de derniere modif : 20/01/2023
par: Lucas Vaugrente
detail: Organisation 
*/

/* SOMMAIRE
Ligne 40 : Polices de caractère
Ligne 74 : Header
Ligne 989 : Pop Up Cookies
Ligne 1076 : Page Catalogue
Ligne 1602 : Page Import Catalogue
Ligne 1702 : Page Panier
Ligne 2308 : Page Paiement
Ligne 2614 : Page Inscription et Connexion
Ligne 2802 : Page Compte Client
Ligne 3018 : Page Gestion Compte Client Admin
Ligne 3182 : Page Produit
Ligne 3862 : Page d'accueil
Ligne 4187 : Page Commandes en cours
Ligne 4486 : Page Récupérer Mot de passe
Ligne 4577 : Page Confirmation Paiement
Ligne 4610 : Dashborad Vendeur
Ligne 4903 : Footer
Ligne 4955 : Mentions légales
*/

:root{
    --jaune : #FFB703;
    --bleu : #023064;
    --rouge : #CB333B;
    --gris : #615757;
    --vert : rgb(0, 150, 0);
}

/*///////////////////////////////////////////////////////////////////////////////
Police de caractère:
///////////////////////////////////////////////////////////////////////////////*/

/*Police de logo*/
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/montserrat/montserrat-bold.ttf');
}

/*Police de titre*/
@font-face {
    font-family: 'carter';
    src: url('../fonts/Calibre/calibre_semi_bold.woff2');
    font-weight: normal;
    font-style: normal;
}

/*Police de texte*/
@font-face {
    font-family: 'sniglet';
    src: url('../fonts/sniglet/sniglet-regular-webfont.woff2') format('woff2'),
        url('../fonts/sniglet/sniglet-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
    width: 0;
    background: transparent;
    width: 12px;
}

body::-webkit-scrollbar-track {
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.205);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.336);
}

body::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.644);
}

.selec_categories::-webkit-scrollbar, .plus_recherchees::-webkit-scrollbar {
    width: 0;
    background: transparent;
    height: 12px;
}

.selec_categories::-webkit-scrollbar-track, .plus_recherchees::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.205);
    border-radius: 20px;
}

.selec_categories::-webkit-scrollbar-thumb, .plus_recherchees::-webkit-scrollbar-thumb {
    background: var(--bleu);
    border-radius: 20px;
}

.selec_categories::-webkit-scrollbar-thumb:hover, .plus_recherchees::-webkit-scrollbar-thumb:hover {
    background: var(--bleu);
}

.selec_categories::-webkit-scrollbar-thumb:active, .plus_recherchees::-webkit-scrollbar-thumb:active {
    background: #022349;
}


/*////////////////////////////////////////////////////////////////////
Main:
///////////////////////////////////////////////////////////////////*/

/* Style d'écriture des titres h1 et h2 */
h1, h2{
    font-family: 'carter', Arial, Helvetica, sans-serif;
}

input, a, label ,div{
    font-family: 'sniglet';
    text-decoration: none;
    font-weight: lighter;
}
